<div class="post-header">
    <div id="post-meta" class="row">
        <div class="col-lg-6">{{post.date|date:longDate}}</div>
        {% if post.author %}
        <span class="col-lg-6 right">By: {{post.author}}</span>
        {% endif %}
    </div>
    <h2>{{post.title}}</h2>
</div>
<div>
    {% if post.toc %}{{post.toc|safe}}{% endif %}
    {{post.content|safe}}
</div>
{% if post.tags|not-empty %}
<div id="post-tags">
    <b>Tags: </b>
    {% for tag in post.tags %}
    <a href="{{tag.uri}}">{{tag.name}}</a>
    {% endfor %}
</div>

<div>
  <a href="https://twitter.com/share" class="twitter-share-button"
     data-show-count="false"
     data-text="{{post.title}}"
     data-url="{{site-url}}{{post.uri}}">
    Tweet
  </a>
  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
{% endif %}
